#create a pandas series 
import pandas as pd
##from list 
list=[1,2,3,4,5]
print(pd.Series(list))

##from simple arrary
import numpy as np
data=np.array(['s','d','f','g'])
print(pd.Series(data,index=[10,11,12,13]))

##from disctionary 
dict={'a':10,'b':11,'c':12}
print(pd.Series(dict))

##from range function
ser=pd.Series(range(1,20,3),index=[x for x in'abcdefg'])
print(ser)

##make a copy of ser
ser1=ser.copy()
print(ser1)

In [18]:
# create a dataFrame

# from list of lists
data=[['tom',2],['jack',3]]
df=pd.DataFrame(data,columns=['x1','x2'])
print(df)

#from dictionary of lists
data={'name':['tom','jack','hum'],'age':[12,34,56]}
df=pd.DataFrame(data)
print(df)

#from list of dicts
data=[{'a':1,'b':2},{'a':3,'b':5}]
df=pd.DataFrame(data,index=['rank1','rank2'])
print(df)

     x1  x2
0   tom   2
1  jack   3
   name  age
0   tom   12
1  jack   34
2   hum   56
       a  b
rank1  1  2
rank2  3  5

In [63]:
# how to rewrite the sql in pandas https://medium.com/jbennetcodes/how-to-rewrite-your-sql-queries-in-pandas-and-more-149d341fc53e

# count, group by , order by 
import numpy as np
airports=pd.DataFrame({'iso_country':['A','B','C','A','B'],'type':[1,np.nan,1,1,2]})
airports.groupby(['iso_country','type']).count()
airports.groupby(['iso_country','type']).size()
airports.groupby(['iso_country','type']).size().to_frame('size').reset_index().sort_values(['iso_country','size'],ascending=[True,False])

# having in SQL 
airports.groupby(['iso_country','type']).filter(lambda g: len(g)>1).groupby(['iso_country','type']).count()

#ntop records
airports.nlargest(1,'type')

# calculate the min max,mean and median type 
airports['type'].agg(['min','max','mean','median'])
airports.agg({'type':['min','max','mean','median']})
airports.agg({'type':['min','max','mean','median']}).T

# drop/delete the subset of rows 
airports.drop(airports[airports['iso_country']=='A'].index)
airports=airports[airports['iso_country']!='A']

In [62]:
airports.drop(airports[airports['iso_country']=='A'].index)

  iso_country  type
1           B   NaN
2           C   1.0
4           B   2.0

In [66]:
airports.reset_index(drop=True,inplace=True)